# Build Artifacts
target/
**/target/
debug/
*.pdb
**/*.rs.bk
**/mutants.out*/

# Logs
*.log
**/*.log

# Archives & Temporary files
*.zip
**/*.zip
*.tar.gz
*.tgz
*.tmp
*.bak
.DS_Store
Thumbs.db

# Local storage & databases
data/
**/data/
blobs/
**/blobs/

# IDE
.idea/
.vscode/
*.iml
